/*
 *
 * 自定义样式
 *
 *
 * */


.navbar .brand {font-family: "courier new",monospace;}
pre {background-color: #f5f5d5;}

i {
    opacity: 0.9;
}

input[name=q] {
	background-color: #FAFAFA;
    width: 190px;
}

input[name=q]:focus {
	background-color: #ffffff;
}

.content {
    margin-bottom: 30px;
}

.content .page-header {
    padding: 5px 0 30px;
}

.content .date {
    display: inline;
    float: right;
    color: #666666;
    font-weight: normal;
    padding: 30px;
}

.content .post-title {
    padding-left: 25px;
    -webkit-transform: rotate(-2.5deg);
    -moz-transform: rotate(-2.5deg);
}
